#Environment variables
.env
*.env

#Python cache / compiled files
__pycache__/
*.py[cod]
*$py.class

#Virtual environments
.venv/
venv/
env/
ENV/
.conda/

#VS Code/JetBrains
.vscode/
.idea/

#flask/Werkzeug
instance/
*.db
*.sqlite3

# logs
*.log
logs/

# tests / coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.coverage
coverage.xml
*.cover


.DS_Store

#node (if using front-end assets)
node_modules/
npm-debug.log*

#docker
docker-compose.override.yml
.docker/

