.body {
    margin: 0;
    padding: 0; 
  }

.logo {
    text-align: center;
    margin-bottom: 2%;
    margin-top: -5%;
}

.logo img{
    width: 30%;
    height: auto;
}

.button {
    display: flex;
    gap: 100px; /* Space between buttons */
    justify-content: center;
    margin: 20px 0;
}

.button a {
    background-color: #f4c2c2; /* Pink color from your image */
    color: white;
    padding: 90px 140px;
    text-decoration: none;
    border-radius: 15px;
    font-size: 50px;
    transition: background-color 0.3s ease;
}

.button a:hover {
    background-color: #f0a8a8; /* Slightly darker on hover */
}