<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nailicious.no - Registrer</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    
   <h1>Lag bruker</h1>

<form method="POST">
    Navn:<br>
    <input type="text" name="navn" required><br><br>

    Email:<br>
    <input type="email" name="email" required><br><br>

    Passord:<br>
    <input type="password" name="password" required><br><br>

    <button type="submit">Registrer</button>
</form>

<p>
    Har du allerede bruker?
    <a href="/login">Logg inn her</a>
</p>

    
</body>
</html>